<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anke.vedio">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="app.BaseApp"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="activity.WelcomeAcitvity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activity.MainActivity"></activity>
        <activity android:name="activity.LoginActivity"></activity>
        <activity android:name="activity.ShortMovieDeatilActivity"></activity>
        <activity android:name="activity.SearchAcitivity"></activity>
        <activity android:name="activity.MovieDetailActivity"></activity>
        <activity android:name="activity.TvPlayDetailActivity"></activity>
        <activity android:name="vedio.FullScreenActivity"></activity>
        <activity android:name="activity.FindPasswordActivity"></activity>
        <activity android:name="activity.RegistActivity"></activity>
        <activity android:name="activity.UpdateUserHeadActivity"
            android:theme="@style/loginDialog" ></activity>
        <activity android:name="activity.RecomandActivity"
            android:theme="@style/loginDialog" ></activity>
        <!-- 融云sdk -->
        <!--会话页面-->
        <activity
            android:name="activity.rongyun.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.anke.vedio"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- begin imlib request -->
        <service
            android:name="io.rong.push.PushService"
            android:process="io.rong.push" > <!-- Waring: The name of the push process can't be changed!!! -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="io.rong.push" />
            </intent-filter>
        </service>
        <!--<service-->
            <!--android:name="io.rong.push.CommandService"-->
              <!--android:process="io.rong.push" > &lt;!&ndash; Waring: The name of the push process can't be changed!!! &ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<action android:name="io.rong.command" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <receiver
            android:name="io.rong.push.PushReceiver"
            android:process="io.rong.push" > <!-- Waring: The name of the push process can't be changed!!! -->
            <intent-filter>
                <action android:name="io.rong.imlib.action.push.heartbeat" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!--<activity-->
            <!--android:name="io.rong.imkit.tools.SelectPictureActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="io.rong.imkit.tools.PreviewPictureActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <activity
            android:name="io.rong.imkit.tools.RongWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc" >
        </service>
        <service android:name="io.rong.imlib.ReConnectService" />
        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />
        <!--<receiver android:name="io.rong.imlib.ipc.PushMessageReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="io.rong.push.message" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="qd46yzrf4yyaf" />
        <!-- 视频播放器 -->
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="QBSDKAppKey"
            android:value="EUy9v1arW+jB6Vr6Y1skDroZ"/>
    </application>
</manifest>